
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>
		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>
		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation, class: 'form-control' %>
		<%= f.label :que_quan %>
		<%= f.text_field :que_quan, class: 'form-control' %>
		<%= f.label :date_of_birth %>
		<%= f.date_field :date_of_birth, class: 'form-control' %>

		<table>
			<tr>
				<td><%= f.radio_button :gioi_tinh,1, class: 'form-control' %></td>
				<td>Nam</td>
			</tr>
			<tr>
				<td><%= f.radio_button :gioi_tinh,0, class: 'form-control' %></td>
				<td>Nu<td>
			</tr>
			<tr>
				<td><%= f.radio_button :gioi_tinh,2,class: 'form-control'%></td>
				<td>N/A</td>
			</tr>
		</table>
		<%= f.submit "Create my account", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
